.headingLetter {
    @apply font-bold inline-block;
    animation: animation-reveal 300ms ease-in-out 500ms;
    animation-fill-mode: forwards;
}

.image {
    @apply opacity-0 blur-md;
    animation: animation-image-reveal 500ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 250ms;
}

@keyframes animation-reveal {
    100% {
        @apply -translate-x-1 -translate-y-1;
        text-shadow: 3px 3px 0px theme("colors.primary.pink"), 6px 6px 0px theme("colors.primary.red");
    }
}

@keyframes animation-image-reveal {
    to {
        @apply shadow-image opacity-100 blur-0 -translate-x-[3px] -translate-y-[3px]
    }
}

/* @keyframes animation-image-reveal {
    0% {
        rotate: z 70deg;
        transform: translate(600px, -600px);
        box-shadow: 200px -200px 0px theme("colors.primary.pink"), 400px -400px 0px theme("colors.primary.red");
    }

    50% {
        transform: translate(-350px, 350px);
        box-shadow: -100px 100px 0px theme("colors.primary.pink"), -200px 200px 0px theme("colors.primary.red");
    }

    70% {
        transform: translate(50px, -50px);
        box-shadow: 10px -10px 0px theme("colors.primary.pink"), 20px -20px 0px theme("colors.primary.red");
        animation-fill-mode: ease-in;
    }

    100% {
        @apply shadow-image opacity-100 blur-0;
        animation-fill-mode: ease-in-out;
    }
} */