.logo {
    @apply font-bold text-3xl;
    animation-name: animation-logo;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 300ms;
    transform: translate(3px, 3px);
    color: theme("colors.slate.400");
}

@keyframes animation-logo {
    100% {
        text-shadow:
            3px 3px 0px theme("colors.primary.pink"),
            6px 6px 0px theme("colors.primary.red");
        transform: translate(-3px, -3px);
        color: theme("colors.white");
    }
}